In [82]:
import pandas as pd

In [83]:
movies=pd.read_csv('E:\movie_recommender_system-main\wsmetadata.csv',encoding='latin-1')

In [84]:
movies.head(10)

,title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform,Unnamed: 9,id
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix,NaN,1
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO",NaN,2
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu",NaN,3
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix,NaN,4
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as ñThe...,2Seasons,Prime Video,NaN,5
5,Dark,2017,16+,8.8,95,"Crime,Drama",A missing child causes four families to help e...,3Seasons,Netflix,NaN,6
6,Chernobyl,2019,18+,9.4,95,"Drama,History",The true story of one of the worst man-made ca...,1Season,"HBO MAX,HBO",NaN,7
7,Sherlock,2010,16+,9.1,94,"Action & Adventure,Crime",A modern update finds the famous sleuth and hi...,4Seasons,Netflix,NaN,8
8,Fargo,2014,18+,8.9,94,"Crime,Drama",A close-knit anthology series dealing with sto...,3Seasons,Hulu,NaN,9
9,Avatar: The Last Airbender,2005,7+,9.2,94,"Action & Adventure,Animation","In a war-torn world of elemental magic, a youn...",3Seasons,"Netflix,CBS All Access,Hoopla",NaN,10

In [85]:
movies.describe()

       Year Released  IMDB Rating     R Rating  Unnamed: 9           id
count    2004.000000  2003.000000  2004.000000         0.0  2004.000000
mean     2009.678144     7.763055    72.413673         NaN  1030.544910
std        11.588195     0.670860     7.111271         NaN   604.741683
min      1940.000000     3.600000    64.000000         NaN     1.000000
25%      2006.000000     7.350000    67.000000         NaN   504.750000
50%      2014.000000     7.800000    70.500000         NaN  1020.500000
75%      2017.000000     8.200000    77.000000         NaN  1552.250000
max      2020.000000     9.700000   100.000000         NaN  2087.000000

In [86]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               2004 non-null   object
 1   Year Released       2004 non-null   int64
 2   Content Rating      1923 non-null   object
 3   IMDB Rating         2003 non-null   float64
 4   R Rating            2004 non-null   int64
 5   Genre               2004 non-null   object
 6   Description         2004 non-null   object
 7   No of Seasons       2004 non-null   object
 8   Streaming Platform  1835 non-null   object
 9   Unnamed: 9          0 non-null      float64
 10  id                  2004 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 172.3+ KB

In [87]:
movies.isnull().sum()

title                    0
Year Released            0
Content Rating          81
IMDB Rating              1
R Rating                 0
Genre                    0
Description              0
No of Seasons            0
Streaming Platform     169
Unnamed: 9            2004
id                       0
dtype: int64

Feature Selection Part

In [88]:
movies.columns

Index(['title', 'Year Released', 'Content Rating', 'IMDB Rating', 'R Rating',
       'Genre', 'Description', 'No of Seasons', 'Streaming Platform',
       'Unnamed: 9', 'id'],
      dtype='object')

In [89]:
movies=movies[['id', 'title', 'Description', 'Genre']]

In [90]:
movies

,id,title,Description,Genre
0,1,Breaking Bad,"When Walter White, a New Mexico chemistry teac...","Crime,Drama"
1,2,Game of Thrones,Seven noble families fight for control of the ...,"Action & Adventure,Drama"
2,3,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,"Animation,Comedy"
3,4,Stranger Things,"When a young boy vanishes, a small town uncove...","Drama,Fantasy"
4,5,The Boys,A group of vigilantes known informally as ñThe...,"Action & Adventure,Comedy"
...,...,...,...,...
1999,2083,Atlanta's Missing and Murdered: The Lost Children,This docuseries explores the period between 19...,"Documentary,Crime"
2000,2084,The InBetween,Cassie Bedford has visions... whether she like...,"Drama,Crime"
2001,2085,Sick Note,When Daniel Glass is misdiagnosed with a fatal...,"Comedy,Crime"
2002,2086,Snoopy In Space,Blast off with Snoopy as he fulfills his dream...,"Animation,Family"
2003,2087,Naked and Afraid,What happens when you put two complete strange...,"Documentary,Action & Adventure"

In [91]:
movies['tags'] = movies['Description']+movies['Genre']

In [44]:
movies

,series Id,Series Title,Description,Genre,tags
0,1,Breaking Bad,"When Walter White, a New Mexico chemistry teac...","Crime,Drama","When Walter White, a New Mexico chemistry teac..."
1,2,Game of Thrones,Seven noble families fight for control of the ...,"Action & Adventure,Drama",Seven noble families fight for control of the ...
2,3,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...
3,4,Stranger Things,"When a young boy vanishes, a small town uncove...","Drama,Fantasy","When a young boy vanishes, a small town uncove..."
4,5,The Boys,A group of vigilantes known informally as ñThe...,"Action & Adventure,Comedy",A group of vigilantes known informally as ñThe...
...,...,...,...,...,...
1999,2083,Atlanta's Missing and Murdered: The Lost Children,This docuseries explores the period between 19...,"Documentary,Crime",This docuseries explores the period between 19...
2000,2084,The InBetween,Cassie Bedford has visions... whether she like...,"Drama,Crime",Cassie Bedford has visions... whether she like...
2001,2085,Sick Note,When Daniel Glass is misdiagnosed with a fatal...,"Comedy,Crime",When Daniel Glass is misdiagnosed with a fatal...
2002,2086,Snoopy In Space,Blast off with Snoopy as he fulfills his dream...,"Animation,Family",Blast off with Snoopy as he fulfills his dream...
2003,2087,Naked and Afraid,What happens when you put two complete strange...,"Documentary,Action & Adventure",What happens when you put two complete strange...

In [92]:
new_data  = movies.drop(columns=['Description', 'Genre'])

In [93]:
new_data

,id,title,tags
0,1,Breaking Bad,"When Walter White, a New Mexico chemistry teac..."
1,2,Game of Thrones,Seven noble families fight for control of the ...
2,3,Rick and Morty,Rick is a mentally-unbalanced but scientifical...
3,4,Stranger Things,"When a young boy vanishes, a small town uncove..."
4,5,The Boys,A group of vigilantes known informally as ñThe...
...,...,...,...
1999,2083,Atlanta's Missing and Murdered: The Lost Children,This docuseries explores the period between 19...
2000,2084,The InBetween,Cassie Bedford has visions... whether she like...
2001,2085,Sick Note,When Daniel Glass is misdiagnosed with a fatal...
2002,2086,Snoopy In Space,Blast off with Snoopy as he fulfills his dream...
2003,2087,Naked and Afraid,What happens when you put two complete strange...

In [94]:
from sklearn.feature_extraction.text import CountVectorizer

In [95]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [96]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [97]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [98]:
vector.shape

(2004, 10000)

In [99]:
from sklearn.metrics.pairwise import cosine_similarity

In [100]:
similarity=cosine_similarity(vector)

In [101]:
similarity

array([[1.        , 0.40838256, 0.22862328, ..., 0.2820441 , 0.20006924,
        0.22509257],
       [0.40838256, 1.        , 0.29376299, ..., 0.20737877, 0.24585378,
        0.34176828],
       [0.22862328, 0.29376299, 1.        , ..., 0.27743548, 0.37276253,
        0.36451826],
       ...,
       [0.2820441 , 0.20737877, 0.27743548, ..., 1.        , 0.24678382,
        0.30362885],
       [0.20006924, 0.24585378, 0.37276253, ..., 0.24678382, 1.        ,
        0.33113309],
       [0.22509257, 0.34176828, 0.36451826, ..., 0.30362885, 0.33113309,
        1.        ]])

In [102]:
new_data[new_data['title']=="Breaking Bad"].index[0]

0

In [113]:
new_data

,id,title,tags
0,1,Breaking Bad,"When Walter White, a New Mexico chemistry teac..."
1,2,Game of Thrones,Seven noble families fight for control of the ...
2,3,Rick and Morty,Rick is a mentally-unbalanced but scientifical...
3,4,Stranger Things,"When a young boy vanishes, a small town uncove..."
4,5,The Boys,A group of vigilantes known informally as ñThe...
...,...,...,...
1999,2083,Atlanta's Missing and Murdered: The Lost Children,This docuseries explores the period between 19...
2000,2084,The InBetween,Cassie Bedford has visions... whether she like...
2001,2085,Sick Note,When Daniel Glass is misdiagnosed with a fatal...
2002,2086,Snoopy In Space,Blast off with Snoopy as he fulfills his dream...
2003,2087,Naked and Afraid,What happens when you put two complete strange...

In [103]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

Rick and Morty
F is for Family
South Park
One Day at a Time
My Hero Academia

In [114]:
def recommand(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0].title])

In [116]:
recommand("Breaking Bad")

AttributeError: 'int' object has no attribute 'title'

In [117]:
import pickle

In [118]:
pickle.dump(new_data, open('series_list.pkl', 'wb'))

In [119]:
pickle.dump(similarity, open('similarity1.pkl', 'wb'))

In [120]:
pickle.load(open('series_list.pkl', 'rb'))

,id,title,tags
0,1,Breaking Bad,"When Walter White, a New Mexico chemistry teac..."
1,2,Game of Thrones,Seven noble families fight for control of the ...
2,3,Rick and Morty,Rick is a mentally-unbalanced but scientifical...
3,4,Stranger Things,"When a young boy vanishes, a small town uncove..."
4,5,The Boys,A group of vigilantes known informally as ñThe...
...,...,...,...
1999,2083,Atlanta's Missing and Murdered: The Lost Children,This docuseries explores the period between 19...
2000,2084,The InBetween,Cassie Bedford has visions... whether she like...
2001,2085,Sick Note,When Daniel Glass is misdiagnosed with a fatal...
2002,2086,Snoopy In Space,Blast off with Snoopy as he fulfills his dream...
2003,2087,Naked and Afraid,What happens when you put two complete strange...